body{
  background-color:rgb(225, 229, 238);
  /* font-family: 'Poppins', sans-serif; */
  padding-top:0;
  border-top:0;
  border-width: 5vw;
  background-image: url(patssalmon.png) ;
}

h1{
  background-color: rgb(73, 87, 131);
  font-family: 'Poppins whgt:500', sans-serif;
  color:rgb(255, 255, 255);
  width: 100%;
  padding: 5vw;
  /* border: vw; */
  margin: 0;
  /* padding: 5vw;
  border:5vw; */
  text-align: center;

}

h2{
  font-family: 'Poppins whgt:400', sans-serif;
  color:rgb(44, 53, 78);
  padding: 1vw;
  width:100;
  margin: none;
  text-align: center;
  align-items: center;
  background-color: rgb(118, 123, 145)

  /* padding: 5vw; */
}

/* table{
  background-color: blue;

} */

table {
  font-family: 'Poppins whgt:200', sans-serif;; 
  /* border: 1px solid; */
  color: rgb(44, 53, 78);
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  border-color: rgb(29, 35, 52);/*44, 53, 78*/
  border-collapse: collapse;
  border-style:solid;
  border-width: 0.5px;


}

#emptyHeader{
  border-style: none;
  border-color: none;
}

th{
  background-color: rgb(247, 197, 159);
  border: 1px solid;
  border-width: 0.15vw;
  border-collapse: collapse;
  font-size: large;
  padding: 15px;
  border-width: 0.15px;

  
}

td{
  background-color: rgb(247, 251, 251);
  border: 1px solid;
  border-width: 0.15px;
  border-collapse: collapse;
  text-align: center;
}


section{
  padding: 2vw;
  background-color: rgb(199, 204, 219);
  /* padding: 3vw; */
  margin: 3vw;
  max-width: 100%;
  height: auto;
  align-content: center;
  border-radius: 15px;
  /* border-width: 52px;
  border-color: orange; */
  /* border:10px; */
}

