body{
  background-color: rgb(225, 229, 238);
  font-family: 'Poppins whgt:500', sans-serif;
}
header{
  
  background-size: 30%;
  background-blend-mode:exclusion;
  background-image: url('/img/salmon.png');
  background-repeat: repeat;
  background-color: rgb(73, 87, 131);
  font-family: 'Poppins whgt:500', sans-serif;
  color:rgb(255, 255, 255);
  width: 100%;
  padding: 2vw;
  margin: 0;
  margin-bottom:  30px;
  display:block;
  text-align: center;
}


nav{
  width: 960px;
  margin: auto;
  align-content: center;
  display: flex;
  
}

a{
  font-size: large;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover{
  color: rgb(247, 197, 159);
}

main{
  width:1000px;
  margin: auto;
  
}

section{
  max-width: 1000px;
  /* padding-bottom: 30px;
  padding-top: 30px; */
  padding: 30px;
  display:flex;
  background-color: rgb(199, 204, 219);
  margin: 0 auto;
  height: auto;
  align-items: center; 
  border-radius: 15px;
  justify-content: center; 
  
}  


h2{
  font-family: 'Poppins whgt:400', sans-serif;
  color:rgb(44, 53, 78);
  padding: 1vw;
  width:100;
  margin: none;
  text-align: center;
  align-items: center;
  background-color: rgb(118, 123, 145)
  
  /* padding: 5vw; */
}
#greeting{
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}
#prettycookie{
  border-radius: 25px;
  opacity: 0.8;
}

#stores{
  display: flex;
  flex-direction:row;
  -ms-flex-item-align: center;
  justify-content: space-evenly;
  align-items: center;
  
}

#storeinfo{
  padding: 10px;
  border: 5px;
  background-color: rgb(225, 229, 238);
  border-style:hidden;
  border-radius: 25px;
  display: flex;
  justify-items: space-around;
  
}

ul{
  list-style: none;
  align-items: center;
}

li{
  padding: 5px;
}
p{
  overflow: auto;
  height:200px;
}
article{
  padding-left: 50px;}


  
/*sales table*/

table {
  font-family: 'Poppins whgt:200', sans-serif;; 
  /* border: 1px solid; */
  color: rgb(44, 53, 78);
  width: 60vw;
  height: auto;
  border-radius: 15px;
  border-color: rgb(29, 35, 52);/*44, 53, 78*/
  border-collapse: collapse;
  border-style:solid;
  border-width: 0.5px;
 text-align: center;

}

#emptyHeader{
  border-style: none;
  border-color: none;
}

th{
  background-color: rgb(247, 197, 159);
  border: 1px solid;
  border-width: 0.15vw;
  border-collapse: collapse;
  font-size: large;
  padding: 15px;
  border-width: 0.15px;

  
}

td{
  background-color: rgb(247, 251, 251);
  border: 1px solid;
  border-width: 0.15px;
  border-collapse: collapse;
  text-align: center;
}



