body{
  background-color: rgb(225, 229, 238);
  font-family: 'Poppins whgt:500', sans-serif;
  margin:0;
}
header{
  
  background-size: 30%;
  background-blend-mode:exclusion;
  background-image: url('/img/salmon.png') ;
  background-repeat: repeat;
  background-color: rgb(73, 87, 131);
  font-family: 'Poppins whgt:500', sans-serif;
  color:rgb(255, 255, 255);
  padding:50px;
  text-align: center;
  font-weight: 500px;
}


nav{
  align-content: center;
  display: flex;
  
}

a{
  padding:10px 15px;
  font-size: large;
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}
a:link, a:visited {
  background-color: rgb(247, 197, 159);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: center;
  border-radius: 50px;
}

a:hover, a:active {
  background-color: white;

}

a:hover{
  color: rgb(45, 54, 101);
}


main{
  flex: 100%;
  padding: 25px;
  
}

h2{
  display: block;
  border-radius: 35px;
  font-family: 'Poppins whgt:400', sans-serif;
  color:rgb(44, 53, 78);
  padding: 30px;
  justify-content: center;
  text-align: center;
  background-color: rgb(119, 125, 146);
  width:100px;
  margin: 10px
}

#greeting{
  display: block;
  display: flex; 
   /* flex-wrap: wrap; */
  padding: 30px;
  font-size: large;
}
#prettycookie{
  opacity: 0.8; 
  border-radius: 30px;
  flex-wrap: wrap;
}
section{
  background-color: rgb(199, 204, 219); 
  border-radius: 40px;
  border: 10px;
  padding: 10px;
  margin: 30px 0px 30px ;
  padding: 30px; 
  justify-content: center;  
}   

#stores{
  display:flex;
}
#storeinfo{
  padding: 30px;
  margin: 15px;
  background-color: rgb(225, 229, 238);
  border-style:hidden;
  border-radius: 25px; 
}


ul{
  list-style: none;
  align-items: center;
  padding: 10px;

}

li{
  padding: 5px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted black;
}

.tooltip .tooltiptext {
  visibility:hidden;
  width: 120px;
  background-color: rgb(73, 87, 131);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  list-style-type:none;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#images{

  display:flex;
  flex-direction: row;
  align-content:center;
  flex-wrap: wrap;
}

article{
  padding-left: 50px;}


input:invalid {
    
  box-shadow: 0 0 2px 1px #FF9C80;
}

img{ 
  /* max-width:fit-content;
  max-height: min-content; */
  border-radius:30px;
  padding: 15px;
  width:400px;
height: auto;
  
}
/*sales table*/

table {
  font-family: 'Poppins whgt:200', sans-serif;
  color: rgb(44, 53, 78);
  width: 60vw;
  height: auto;
  border:solid  rgb(29, 35, 52) 1px;
  border-radius: 10px;
  background-color: rgb(29, 35, 52);
  text-align: center;

}

#emptyHeader{
  border-style: none;
  border-color: none; 
}

* th{
  background-color: rgb(247, 197, 159);
  border-left:solid rgb(29, 35, 52);
  border-top:solid rgb(29, 35, 52);
  border-collapse: collapse;
  font-size: large;
  padding: 15px;
  border-width: 0.15px;}

#totalHF{
 border-bottom-left-radius: 10px ;
}

#emptyHeader{
  border-top-left-radius: 10px
}

#dailyTH{
  border-top-right-radius: 10px;
}

/* th:last-of-type {
  border-top-right-radius: 10px;
} */

tfoot>tr>td:last-of-type{
  border-bottom-right-radius:10px;
}

td{
  background-color: #ffffff;
  border: .5px solid;
  border-width: 0.15px;
  border-collapse: collapse;
  text-align: center; 
  /* border-radius: 15px; */
} 

tfoot{
  border-width: .15px;}

/* form styling*/

form{
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:#f2f3f8; 
}


fieldset{
  display: flex;
  flex-direction: column;
  align-items:center;
}

label{
  padding: 15px;
}
input{
  border-radius: 5px;
}

footer{
  background-color: rgb(73, 87, 131);
  font-family: 'Poppins whgt:200', sans-serif;
  color:rgb(255, 255, 255);
  padding:50px;
  text-align: center;
  font-weight: 300px;
}